* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    grid-gap: 0.25rem 0.25rem;
    padding: 0.75rem;
    text-align: center;
}

.grid-item {
    background-color: red;
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
    color: white;
    padding: 5px 0px 5px 0px;
}

aside:nth-child(2) {
    grid-column: 1/1;
    grid-row: 2/4;
}

aside:nth-child(4) {
    grid-column: 3/3;
    grid-row: 2/4;
}

.header, .footer {
    text-shadow: 2px 2px #427C16;
    grid-column: 1 / span 3;
}